In [1]:
import pandas as pd
import numpy as np

In [2]:
coltekin = pd.read_csv("coltekin.csv")
kaggle = pd.read_csv("kaggle.csv")
hatc = pd.read_csv("hatc.csv")

In [3]:
hatc

                                                    text  label
0      çünkü bunu allah yaratmadı allah 2 cinsiyet ya...      1
1                                    bun dişi mi erkekmi      1
2                                     erkek ama durum bu      1
3                                                Lan top      1
4                                              Topi topp      1
...                                                  ...    ...
31285  emine.sunan12Merhabalar arkadaşlar bu paylaşım...      0
31286                                    iremmkrtls 👌🏽👌🏽      0
31287  jila88.j@ayferserbestt ay gülmekten karnima ağ...      0
31288                                               #FAA      0
31289  ntkm1234 Çağlada estetik yok botoks var kadın ...      0

[31290 rows x 2 columns]

In [4]:
coltekin["label"].value_counts()[0]

28439

In [5]:
kaggle["label"].value_counts()

0    3009
1    2073
Name: label, dtype: int64

In [6]:
hatc["label"].value_counts()

0    19827
1    11463
Name: label, dtype: int64

In [10]:
coltekin = coltekin.sort_values('label').reset_index()

In [11]:
coltekin

       index                                               text  label
0      17641                      Bir bunalım söz konusu doktor      0
1       2351  Yalnizliga oyle bir alismiski kalbim; sevmeyi ...      0
2       2350  @USER03846 Oleyyyyyyy sende bizdensin \nFakir ...      0
3       2349                @USER09092 Hain kadın beni takip et      0
4       9189  Benden yüz bulamayınca ne yapacağını şaşırmış ...      0
...      ...                                                ...    ...
35279  12003  Kurban olduğum Allahım şu erkekler musically ç...      1
35280  12012  @USER14377 Belki de Türkiye güzeli olarak ülke...      1
35281  20086  @USER15414 Vay okumuş gezizekalılar link tıkla...      1
35282  20102  Etrafımdaki insanların aklıyla pek arası olmuy...      1
35283      0  @USER06095 Hırsız demişken Tuncay sizin şu 1.2...      1

[35284 rows x 3 columns]

In [26]:
coltekin = pd.concat([coltekin.iloc[:2000], coltekin.iloc[33283:35283]], axis=0).reset_index()

In [27]:
coltekin=coltekin.drop("index",axis=1)

In [28]:
coltekin

                                                   text  label
0                         Bir bunalım söz konusu doktor      0
1     Yalnizliga oyle bir alismiski kalbim; sevmeyi ...      0
2     @USER03846 Oleyyyyyyy sende bizdensin \nFakir ...      0
3                   @USER09092 Hain kadın beni takip et      0
4     Benden yüz bulamayınca ne yapacağını şaşırmış ...      0
...                                                 ...    ...
3995  @USER02631 Unuturmuyum. Yuzsuzlugun abidesi Sa...      1
3996  Kurban olduğum Allahım şu erkekler musically ç...      1
3997  @USER14377 Belki de Türkiye güzeli olarak ülke...      1
3998  @USER15414 Vay okumuş gezizekalılar link tıkla...      1
3999  Etrafımdaki insanların aklıyla pek arası olmuy...      1

[4000 rows x 2 columns]

In [29]:
kaggle

                                                   text  label
0     edit: bu adam dururken başkan gene melih olurs...      0
1     ahah kuduruyoruz ya amk çomarı biz bu ülkeden ...      1
2     Sınıf gruplarındaki insanlar beyinsiz felan he...      1
3     boğaziçi köprüsünde duran tanklar ( eğer ses t...      0
4     Sevişirler evlenmezler, hamile kalır doğurmazl...      1
...                                                 ...    ...
5077                         yapmayan yalan soyluyordur      0
5078  Nediyonla piç kurusu bugün pazar git ayasofya ...      1
5079  Bunu düşünen, destekleyen, ihaleyi açan, açtır...      1
5080  sadece 45 dakikada girdiğimiz gol pozisyonu sa...      1
5081  ellerindeki en büyük koz genelkurmay başkan'ı....      1

[5082 rows x 2 columns]

In [30]:
kaggle = kaggle.sort_values('label').reset_index()
kaggle = pd.concat([kaggle.iloc[:1000], kaggle.iloc[4082:5082]], axis=0).reset_index()
kaggle=kaggle.drop("index",axis=1)

In [31]:
kaggle

      level_0                                               text  label
0           0  edit: bu adam dururken başkan gene melih olurs...      0
1           1  chp zaten kendi anket vs yapririyor böyle duru...      0
2           2  marketlerde satılan işlenmiş sucukların, sosis...      0
3           3  her vize ve final zamanı şiddetleri artmak sur...      0
4           4  iyi ki zamanında yazılmış ve çekilmiştir zira ...      0
...       ...                                                ...    ...
1995     5077  ben insanları gönlümü aldıklarında affediyorum...      1
1996     5078  bu erkekler niye bu kadar beyinsiz amk kafayı ...      1
1997     5079  Ne kadar beyinsiz insanlar görüyorum aq böyle ...      1
1998     5080  Taner ve Nihat 0-6 yas grubu cocuklar gibi Dic...      1
1999     5081  ellerindeki en büyük koz genelkurmay başkan'ı....      1

[2000 rows x 3 columns]

In [32]:
hatc

                                                    text  label
0      çünkü bunu allah yaratmadı allah 2 cinsiyet ya...      1
1                                    bun dişi mi erkekmi      1
2                                     erkek ama durum bu      1
3                                                Lan top      1
4                                              Topi topp      1
...                                                  ...    ...
31285  emine.sunan12Merhabalar arkadaşlar bu paylaşım...      0
31286                                    iremmkrtls 👌🏽👌🏽      0
31287  jila88.j@ayferserbestt ay gülmekten karnima ağ...      0
31288                                               #FAA      0
31289  ntkm1234 Çağlada estetik yok botoks var kadın ...      0

[31290 rows x 2 columns]

In [33]:
hatc = hatc.sort_values('label').reset_index()
hatc = pd.concat([hatc.iloc[:2000], hatc.iloc[29289:31289]], axis=0).reset_index()
hatc=hatc.drop("index",axis=1)

In [34]:
hatc

      level_0                                               text  label
0           0                ndmediahizmetleri5.000 Takipçi 30 ₺      0
1           1                                                  4      0
2           2  merveesenn33@xberfinuzun olaylar tek taraflı d...      0
3           3  sahsinamunhasirbirzat Gereksiz özgüven patlama...      0
4           4                      hazal_ayasan_ayar@trkkntzz.k       0
...       ...                                                ...    ...
3995    31284                                         AMK COCUGU      1
3996    31285                            Tam bir şerefsiz bunlar      1
3997    31286  Bu mili takım formasının üstündeki ay yıldızı ...      1
3998    31287                                      NAMUSSUZ ARDA      1
3999    31288                                         Siktir git      1

[4000 rows x 3 columns]

In [35]:
hatc=hatc.drop("level_0",axis=1)

In [36]:
hatc

                                                   text  label
0                   ndmediahizmetleri5.000 Takipçi 30 ₺      0
1                                                     4      0
2     merveesenn33@xberfinuzun olaylar tek taraflı d...      0
3     sahsinamunhasirbirzat Gereksiz özgüven patlama...      0
4                         hazal_ayasan_ayar@trkkntzz.k       0
...                                                 ...    ...
3995                                         AMK COCUGU      1
3996                            Tam bir şerefsiz bunlar      1
3997  Bu mili takım formasının üstündeki ay yıldızı ...      1
3998                                      NAMUSSUZ ARDA      1
3999                                         Siktir git      1

[4000 rows x 2 columns]

In [38]:
kaggle=kaggle.drop("level_0",axis=1)

In [39]:
kaggle

                                                   text  label
0     edit: bu adam dururken başkan gene melih olurs...      0
1     chp zaten kendi anket vs yapririyor böyle duru...      0
2     marketlerde satılan işlenmiş sucukların, sosis...      0
3     her vize ve final zamanı şiddetleri artmak sur...      0
4     iyi ki zamanında yazılmış ve çekilmiştir zira ...      0
...                                                 ...    ...
1995  ben insanları gönlümü aldıklarında affediyorum...      1
1996  bu erkekler niye bu kadar beyinsiz amk kafayı ...      1
1997  Ne kadar beyinsiz insanlar görüyorum aq böyle ...      1
1998  Taner ve Nihat 0-6 yas grubu cocuklar gibi Dic...      1
1999  ellerindeki en büyük koz genelkurmay başkan'ı....      1

[2000 rows x 2 columns]

In [40]:
coltekin

                                                   text  label
0                         Bir bunalım söz konusu doktor      0
1     Yalnizliga oyle bir alismiski kalbim; sevmeyi ...      0
2     @USER03846 Oleyyyyyyy sende bizdensin \nFakir ...      0
3                   @USER09092 Hain kadın beni takip et      0
4     Benden yüz bulamayınca ne yapacağını şaşırmış ...      0
...                                                 ...    ...
3995  @USER02631 Unuturmuyum. Yuzsuzlugun abidesi Sa...      1
3996  Kurban olduğum Allahım şu erkekler musically ç...      1
3997  @USER14377 Belki de Türkiye güzeli olarak ülke...      1
3998  @USER15414 Vay okumuş gezizekalılar link tıkla...      1
3999  Etrafımdaki insanların aklıyla pek arası olmuy...      1

[4000 rows x 2 columns]

In [41]:
hatc

                                                   text  label
0                   ndmediahizmetleri5.000 Takipçi 30 ₺      0
1                                                     4      0
2     merveesenn33@xberfinuzun olaylar tek taraflı d...      0
3     sahsinamunhasirbirzat Gereksiz özgüven patlama...      0
4                         hazal_ayasan_ayar@trkkntzz.k       0
...                                                 ...    ...
3995                                         AMK COCUGU      1
3996                            Tam bir şerefsiz bunlar      1
3997  Bu mili takım formasının üstündeki ay yıldızı ...      1
3998                                      NAMUSSUZ ARDA      1
3999                                         Siktir git      1

[4000 rows x 2 columns]

In [42]:
ensemble = pd.concat([hatc, kaggle, coltekin], axis=0).reset_index()

In [48]:
ensemble

                                                   text  label
0                   ndmediahizmetleri5.000 Takipçi 30 ₺      0
1                                                     4      0
2     merveesenn33@xberfinuzun olaylar tek taraflı d...      0
3     sahsinamunhasirbirzat Gereksiz özgüven patlama...      0
4                         hazal_ayasan_ayar@trkkntzz.k       0
...                                                 ...    ...
9995  @USER02631 Unuturmuyum. Yuzsuzlugun abidesi Sa...      1
9996  Kurban olduğum Allahım şu erkekler musically ç...      1
9997  @USER14377 Belki de Türkiye güzeli olarak ülke...      1
9998  @USER15414 Vay okumuş gezizekalılar link tıkla...      1
9999  Etrafımdaki insanların aklıyla pek arası olmuy...      1

[10000 rows x 2 columns]

In [47]:
ensemble=ensemble.drop("index",axis=1)

In [50]:
ensemble.label.value_counts()

1    5000
0    5000
Name: label, dtype: int64

In [51]:
ensemble.to_csv("ensemble.csv")